@inherits LayoutComponentBase

<TopNavMenu/>
<main>
	@Body
</main>

<footer style="background-color: #000; color: white;" class="p-3 text-center mt-3">
	&copy; Orion Palmer 2023
</footer>

@code {

}
